# DOMAIN
DOMAIN_NAME=example.local

# MARIADB
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=changeme_db

# WORDPRESS
WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=changeme_db
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=changeme_admin
WORDPRESS_ADMIN_EMAIL=admin@example.local
WORDPRESS_URL=https://example.local
WORDPRESS_SECOND_USER=
WORDPRESS_SECOND_USER_PASSWORD=
